body{
    padding:0px;
    margin:0px;
    background-image: url(background4.jpg);
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-size: 100%;
}

.menu{
background-color: black;
width: 100%;
overflow: auto;
}

.menu ul{
padding: 0px;
margin:  0px;
list-style: none;
line-height: 60px;
}

.menu li{
float:left;
}

.menu ul li a{
padding: 5px;
width: 250px;
text-decoration:none;
display: block;
letter-spacing: 1px;
font-size: 20px;
font-family: 'Raleway', sans-serif;
text-align: center;
color: white;
}
.menu li a:hover{
color: gray;
}
.cv{
margin:30px;
border: 2px solid black;
border-radius: 16px 10px;
box-shadow: 5px 10px 10px 10px;

}
.h1{
font-size:20px;
font-family: 'Raleway', sans-serif;

margin: 0px 300px;
position:absolute;
}

.p{
font-size: 16px;
font-family: 'Raleway', sans-serif;
margin:90px 300px;
position: absolute;
padding: 10px;
color: rgb(0, 0, 0);
}
.p1{
padding: 13px;
margin:90px 610px;
position: absolute;
font-family: 'Raleway', sans-serif;
font-size: 17px;
color: rgb(0, 0, 0);
}
.p2{
padding: 30px;
font-family: 'Raleway', sans-serif;
font-size:17px;
color: rgb(0, 0, 0);
margin: 0px 5px;
}
.p3{
padding:10px;
font-size: 17px;
font-family: 'Raleway', sans-serif;
color: rgb(0, 0, 0);
margin: 0px 25px;
}




.border{
    border: 2px solid black;
    box-shadow: 5px 7px 7px;
}

.Skills{
padding: 15px;
margin: 10px auto;
font-family: 'Raleway', sans-serif;
text-align: center;
font-size: 25px;
}

.skill1{
font-size: 35px;
margin: 1px 170px;
position: absolute;
font-family: 'Raleway', sans-serif;

}
.p11 {
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
position: absolute;
margin: 20px 150px auto;
}

*{
padding: 0px;
margin: 0px;

}
.css{
  margin: 0px 1000px auto;
  font-size: 30px;
}
.css1{
padding:10px 70px;
font-family: 'Raleway', sans-serif;
}
.python{
padding-top: 200px;
margin: 10px 80px auto;
font-size: 30px;
text-align: center;
font-family: 'Raleway', sans-serif;
}
.ani{
font-size: 35px;
padding: 10px 80px;
margin: 65px 100px;
position: absolute;
border: 3px solid black;
border-radius: 5px 5px 6px;
box-shadow: 5px 5px 10px 10px;
background-image: url(forest-wallpaper-hd-3.jpg);
background-size: 100%;
font-family: 'Raleway', sans-serif;
}

.ani1{
font-size:35px;
padding: 10px 80px;
margin: 10px 1px;
position: absolute;
border: 3px solid black;
border-radius: 5px 5px 6px;
box-shadow: 5px 5px 10px 10px;
background-image: url(forest-wallpaper-hd-3.jpg);
background-size:100%;
font-family: 'Raleway', sans-serif;
}

.ani2{

  font-size:35px;
  text-align:center;
  border: 3px solid black;
  border-radius: 5px 5px 6px;
  box-shadow: 5px 5px 10px 10px;
  background-image: url(forest-wallpaper-hd-3.jpg);
  background-size:100%;
  }
.border2{
border: 2px solid black;
box-shadow: 5px 7px 7px;
}

.exp1{
  padding: 15px;
  margin: 10px auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 25px;
}
.exp2{

}

.exp3{
  font-size: 35px;
margin: 1px 170px;
position: absolute;
font-family: 'Raleway', sans-serif;
}  


.exp4{
  margin: 0px 1000px auto;
  font-size: 30px;
}


.exp5{
  padding:10px 70px;
font-family: 'Raleway', sans-serif;
}
.ball {
  display: inline-block;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "60%";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(10px);
    z-index: 2; }
  .ball:after {
    content: "60%";
    position: absolute;
    display:none;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0px 130px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}



@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.p44{
 padding: 90px 58px;
  margin:5px 130px;
   position: absolute;
  font-size:40px;
  font-size:bold;
  color:black;
}

.ball {
  display: inline-block;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "50%";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "50%";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.stage1 {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0px 960px;
  padding: 1225px 80px;
  top: 10px;
position: absolute;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}



@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.p44{
 padding: 90px 58px;
  margin:5px 130px;
   position: absolute;
  font-size:40px;
  font-size:bold;
  color:black;
}
.p444{
  padding: 90px 58px;
  margin:1225px 1050px;
   position: absolute;
  font-size:40px;
  font-size:bold;
  color:black;
top:10px
}
.net{
  margin: 1px 80px auto;
  font-size: 30px;
  text-align: center;
top: 80px;
font-family: 'Raleway', sans-serif;
}

.ball {
  display: inline-block;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "30%";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.stage2 {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0px 525px;
  left: 10px;
position: absolute;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}



@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.g4444{
margin: 85px 10px;
font-size: 50px;
}

.border3{
border:2px solid black;
box-shadow: 5px 7px 7px;

}

.page{
padding: 20px;
left: 10px;
}
  .pph{
    margin: 0px 35px; 
  }

