body{
    padding: 40px;
    background-image: url(background4.jpg);
    background-size: 100%;

}



table{
padding: 10px;
margin: 100px 350px;
border: 2px solid black;
width: 600px;
}

th{
    border: 2px solid black;
    padding:20px 40px 20px 20px ;
    margin: 10px;
    text-align: center;

}
td{
border: 2px solid black;
padding:20px 20px ;
margin:10px;
text-align: center;
color: aqua;


}
.td3{
color:red;
}

caption {
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
color:black;

}
